body {
  background-color: rgb(24, 23, 36);
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.App {
  margin: 20px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  justify-content: space-between;
}